/* Body */
h2{
    font-size: 25px;
    padding-left: 10px;
}

/* Top */
header {
    background-color: #A78682;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #51344D;
}


#main-nav a:hover{
    color: #4A7B9D;
}

#main-nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-family: 'Oswald', sans-serif;
}

.products__title{
    color:#4A7B9D;
    padding-left: 10px;
}

.mainImage img{
    width: 97%;
    height: 950px;
    padding-left: 10px;
}

.mainImage{
    font-size: 50px;
    color: #989788;
    padding-left: 30px;
}




/* Middle */
.middle__title{
    color: #6F5060;
    padding-left: 50px;
}

.middle {
    color: #6F5060;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    padding-left: 50px;
    grid-gap: 20px;
    font-size: x-large;
}

.middle__p{
    display: flex;
    justify-content: center; 
  align-items: center; 
}


.middle img{
    width:850px;
}



.products__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-left: 10px;
    grid-gap: 20px;
}

.card img{
    width: 450px;
    height: 300px;
    padding-left: 10px;
}


/* .card{
    
} */


/* Bottom */

footer {
    background-color: #A78682;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

footer img{
    width: 100px;
    padding-left: 10px;
}



/* colour list: #51344D, #989788, #6F5060, #A78682, #E7EBC5

